<!DOCTYPE html>
<html>
<style>
    body {
        font-family: 'Calibri';
    }

    table {
        border-collapse: collapse;
    }

    table.detail-table th,
    table.detail-table td {
        border: 1px solid #bdbdbd;
        text-align: left;
        padding: 6px;
    }

    table.detail-table th {
        text-align: center !important;
    }

    table.info-table th,
    table.info-table td {
        border: 0px;
        text-align: left;
        padding: 6px;
    }

    .detail-table th {
        background: #e0e0e0;
    }

    table.detail-table {
        width: 100%;
    }

    table.info-table {
        width: 100%;
    }

    table.layout {
        width: 100%;
    }

    #info-table-2 {
        vertical-align: top;
    }

    #info-table-1 {
        padding-right: 30px;
        vertical-align: top;
    }

    #info-table-3 {
        padding-left: 30px;
        vertical-align: top;
    }

    #detail-table-container {
        padding-top: 30px;
    }

    .positive-text {
        color: #83C82F;
    }

    .negative-text {
        color: #B00D20;
    }

    th.center-text,
    td.center-text {
        text-align: center !important;
    }

    .container {
        background: #f5f5f5;
        padding: 20px;
        padding-top: 10px;
        border-radius: 4px;
        width: 100%;
    }

    .detail-table tr:nth-child(odd) {
        background-color: #e0e0e0;
    }

    .layout {
        background: #f5f5f5;
    }
</style>

<body>
    <table class="container">
        <div style="width: 100%; ">
            <h2 style="text-align: center;">inContact Dashboard Automation Test Report</h2>
        </div>
        <table class="layout">
            <tr>
                <td id="info-table-1">
                    <table class="info-table">
                        <tr>
                            <td><b>Total test cases:</b></td>
                            <td>{{totalTestcases}}</td>
                        </tr>
                        <tr>
                            <td><b>Passed test cases:</b></td>
                            <td>{{passedTestcases}}</td>
                        </tr>
                        <tr>
                            <td><b>Failed test cases:</b></td>
                            <td>{{failedTestcases}}</td>
                        </tr>
                        <tr>
                            <td><b>Pass rate:</b></td>
                            <td>{{passRate}}</td>
                        </tr>
                    </table>
                </td>
                <td id="info-table-2">
                    <table class="info-table">
                        <tr>
                            <td><b>Build ID:</b></td>
                            <td>{{buildId}}</td>
                        </tr>
                        <tr>
                            <td><b>Start time:</b></td>
                            <td>{{startTime}}</td>
                        </tr>
                        <tr>
                            <td><b>End time:</b></td>
                            <td>{{endTime}}</td>
                        </tr>
                        <tr>
                            <td><b>Status:</b></td>
                            {{#if passed}}
                            <td><b class="positive-text">{{status}}</b></td>
                            {{else}}
                            <td><b class="negative-text">{{status}}</b></td>
                            {{/if}}
                        </tr>
                    </table>
                </td>
                <td id="info-table-3">
                    <table class="info-table">
                        <tr>
                            <td><b>Agent:</b></td>
                            <td>{{agent}}</td>
                        </tr>
                        <tr>
                            <td><b>Browser:</b></td>
                            <td>{{environment}}</td>
                        </tr>
                        <tr>
                            <td><b>Duration:</b></td>
                            <td>{{duration}} (mm:ss)</td>
                        </tr>
                        <tr> </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" id="detail-table-container">
                    <table class="detail-table">
                        <tr>
                            <th>#</th>
                            <th>TC ID</th>
                            <th>TC Summary</th>
                            <th>Result</th>
                            <th>Error</th>
                            <th>Duration</th>
                        </tr>
                        {{#testCases}}
                        <tr>
                            <td class="center-text" style="width:4%">{{id}}</td>
                            <td class="center-text" style="width:16%">{{testCaseId}}</td>
                            <td style="width:30%">{{summary}}</td>
                            {{#if passed}}
                            <td class="positive-text" style="width:10%; text-align: center">{{result}}</td>
                            {{else}}
                            <td class="negative-text" style="width:10%; text-align: center">{{result}}</td>
                            {{/if}}
                            <td style="width:30%">{{error}}</td>
                            <td class="center-text" style="width:10%">{{duration}}</td>
                        </tr>
                        {{/testCases}}
                        <tr>
                            <td colspan="5" style="text-align: right; padding-right: 10px"><b>Total duration</b></td>
                            <td class="center-text">{{totalDuration}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </table>
</body>
</html>